<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tristan Angieri is an NYC based writer and filmmaker from Minneapolis.</h2>
                <br>
                <hr class="light">
                <br>
                <br>
                <p class="text-faded">Their work focuses on entheogenic healing, LGBTQ++ rights, self-determination, and embodiment practices. They recently wrote an essay for a book on Queerness and psychedelics slated to be released in 2022.</p>
                <p class="text-faded">Their directorial debut <B><i>Integrate.Me</i></B>, is one of 13 short non-fiction documentariess included in Season 4 of PBS POV Shorts. Integrate.Me was created as part of the <a href="https://whoisotherly.com/" target="_blank" style="color:white;">Otherly Series</a>, a collection of short documentaries made for Instagram Stories and co-produced by <a href="https://www.amdoc.org/" target="_blank" style="color:white;">American Documentary's</a> <a href="https://www.amdoc.org/pressroom/introducing-pov-spark/" target="_blank" style="color:white;">POV Spark</a> and <a href="https://www.nfb.ca/" target="_blank" style="color:white;">The National Film Board of Canada</a>. <B><i>Integrate.Me</i></B> explores the use of an experimental therapy to treat Tristan's PTSD, as they learn to navigate being queer and trans.</p>
                <p class="text-faded">In 2018, Tristan released the EP <a href="https://open.spotify.com/album/70s9tBsGC0MZ8VLMC6XTPN?si=6Lje33_fSYCTTvAjVIzxKQ" target="_blank" style="color:white;">Eccolocations</a> as half of <a href="http://www.instagram.com/hairbandhairband" target="_blank" style="color:white;">Hairband Hairband</a>. As <a href="http://www.instagram.com/themperor.official" target="_blank" style="color:white;">Themperor</a>, they are currently recording their debut album.</p>
                <p class="text-faded">Born in NY state and brought up in Minneapolis and St. Louis, Tristan studied architecture at the University of Minnesota Twin Cities College of Design (CDES) and earned their Master of Architecture at the University of California Berkeley’s College of Environmental Design (CED).</p>
<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
