<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tristan Angieri is a non-binary multi-disciplinary artist and director.</h2>
                <hr class="light">
                <p class="text-faded">Their directorial debut is Integrate.Me, an <a href="https://whoisotherly.com/">Otherly Series</a> short documentary made for Instagram Stories and co-produced by POV,  American Documentary, and The National Film Board of Canada. Integrate.Me explores the use of an experimental therapy to treat Tristan's PTSD, as they learn to navigate being queer and trans. Tristan's streetwear is sold on the queer and trans design label Homogoods. In 2018 they released the EP Eccolocations as half of Hairband Hairband. As Themperor, they are currently recording their debut album.</p>
                <p class="text-faded">During the course of the COVID-19 pandemic, their proudest accomplishments include learning to drive and maintain a 36’ motorhome, hitting their year mark on a twice-daily meditation practice, and cutting their teeth on underwater cinematography.</p>
                <p class="text-faded">Born in NY and brought up in Minneapolis and St. Louis, Tristan studied architecture at the University of Minnesota Twin Cities College of Design (CDES) and earned their Master of Architecture at the University of California Berkeley’s College of Environmental Design (CED).</p>
<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
