<header>
    <div class="header-content">
        <div class="header-content-inner">
<!--             <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            <div class="header-content-inner" style="position:absolute;bottom:0;padding-bottom:20;">
                <div class="col-lg-4 col-md-4 text-center">
                    <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
                        <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <a href="https://open.spotify.com/artist/{{ site.spotify_username }}" target="_blank">
                        <i class="fa fa-spotify fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <a href="mailto:{{ site.email }}" target="_blank">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
